
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background: linear-gradient(to right, #e6c1ff 0%, #d9ffbf 100%); */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
  position: relative;
  text-align: center;
}


 h1{
    color: rgb(255, 255, 255);
    font-size: 80px;
 }

 a{
    font-size: 80px;
    /* margin-top: 800px; */
    margin-left: 40px;
 }

 a:hover{
    font-size: 85px;
    color: rgb(196, 196, 196);
 }

@media (max-width: 600px) {
     a{
    font-size: 80px;
    margin-left: 80px;
 }
}